## Graded Assignment - 2

###  Q11. Write down the PDF function assuming it is gaussian normal for AMT_INCOME_TOTAL. (5 mark)

In [1]:
# Importing required supporting libraries
import numpy as np
import pandas as pd

In [2]:
# Creating DF object fromn the Application records

df = pd.read_csv('C:\AI-ML\SampleData\Application_record.csv')

In [3]:
df.AMT_INCOME_TOTAL.describe()

count    4.385570e+05
mean     1.875243e+05
std      1.100869e+05
min      2.610000e+04
25%      1.215000e+05
50%      1.607805e+05
75%      2.250000e+05
max      6.750000e+06
Name: AMT_INCOME_TOTAL, dtype: float64

In [4]:
# Calculating Mean and Variance details of AMT_INCOME_TOTAL column
df_var = df.AMT_INCOME_TOTAL.var()
df_mean = df.AMT_INCOME_TOTAL.mean()

print('Variance of AMT_INCOME_TOTAL = {}' .format(df_var))
print('Mean of AMT_INCOME_TOTAL = {}' .format(df_mean))

Variance of AMT_INCOME_TOTAL = 12119115218.02249
Mean of AMT_INCOME_TOTAL = 187524.28600950394

Assuming AMT_INCOME_TOTAL column has normal distribution then, probability density is referred as below:

X ~ N(mean,variance**2)

X = Random Number

N = Normal Distribution

mean = mean of column "AMT_INCOME_TOTAL"

variance = variance of column "AMT_INCOME_TOTAL"

N(187524.28600950394,12119115218.02249)